<div class="d-flex justify-content-center mt-3">
  <h1 class="display-3">About</h1>
</div>
<div class="d-flex justify-content-center">
  <p class="text-center h4">ながのCAKEは全国発送可能なケーキ屋さんです。<br>
お子様からお年寄りの方までお召し上がりいただけるよう、<br>
様々なバリエーションをご用意しております。<br>
また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
ぜひご注文ください。</p>
</div>
<div class="d-flex justify-content-center mt-3">
  <%= image_tag 'cake_about.jpg', size: "600x330" %>
</div>
